#top_bar {
    border-bottom: solid 1px #ca2100;
    border-color: transparent;
    background: #282828;
    height: 43px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content_wrapper {
    width: 922px;
    margin: auto;
}
#content {
    width: 656px;
    min-height: 380px;

    margin-left: 266px;
    border-right: 1px solid #f1f1f1;
    min-height: calc(100vh);
    -webkit-transition: opacity 250ms cubic-bezier(0.4,0,0.6,1);
    transition: opacity 250ms
}
#left_menu {
    width: 266px;
    //height: calc(100vh - 50px);
    padding-top: 74px;
    padding-left: 32px;
    margin-left: -32px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid #f1f1f1;
}
